*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    font-family: cursive;
    color: rgb(68, 68, 138);
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, #33ccff 0%, #cc99ff 100%);
}

#board {
    height: 540px;
    width: 580px;
    background-color: lightblue;
    border: 10px solid rgb(67, 67, 138);
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: rgb(229, 229, 229);
    border-radius: 50%;
    border: 5px solid rgb(67, 67, 138);
    box-shadow: #000000 0px 0px 10px;
}

.red-piece {
    background: linear-gradient(to bottom, #33ccff 0%, #cc99ff 100%);
}

.yellow-piece {
    background: linear-gradient(to top, #4bff33 0%, #99e7ff 100%) ;
}

